this is the first contact:
<ul>
  <li><%= @first_contact.first_name %></li>
  <li><%= @first_contact.last_name %></li>
  <li><%= @first_contact.email %></li>
  <li><%= @first_contact.phone_number %></li>
</ul>